{
  "extends": [
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "rules": {
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
    "prettier/prettier": "error",
    "no-unused-vars": "off",
    "import/no-unresolved": "off",
    "arrow-body-style": "off",
    "import/prefer-default-export": 0,
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/jsx-max-props-per-line": ["error", { "maximum": 1, "when": "multiline" }],
    "import/extensions": ["error", {
      "js": "never",
      "ts": "never",
      "jsx": "never",
      "tsx": "never"
    }]
  }
}
